/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --bg-color: #f4f3ee;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.ant-result {
  padding: 48px 32px;
  background: #000000db;
  border-radius: 10px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    color: white;
    text-align: center;
  }
}
