/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --bg-color: #f4f3ee;
  --white: #000;
  --error:  #ffb6b7;
}

.ant-btn[disabled] {
  width: 80%;
  margin-top: 30px;
  background: #7b7777;
  border-radius: 17px;
  border: none;
  color: #ababab;
}

.ant-btn {
  color: var(--white);
  border: 1px solid var(--white);
  width: 80%;
  margin-top: 30px;
  background: #bba377;
  border-radius: 17px;
}
