:host {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 280px;
  height: 100%;
  min-height: 300px;
  padding: 0 10px;
  background-image: url("../../../assets/bg-flowers.png");
  background-size: cover;
  background-position: center;

  & ::ng-deep {
    .ant-form-item-label > label {
      color: var(--white);
      font-weight: 500;
    }

    //.ant-form-item-label {
    //  text-align: center;
    //}

    .ant-form-item-explain-error {
      color: var(--error);
      font-style: italic;
      font-size: 14px;
    }

    .ant-form-vertical .ant-form-item {
      flex-direction: row;
    }

    .ant-input:focus, .ant-input-focused {
      box-shadow: none;
    }

    .ant-input,
    .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
    .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
      background-color: transparent !important;
      color: var(--white) !important;
      border-radius: 0;
      font-weight: 500;
      border-left: none;
      border-right: none;
      border-top: none;
    }

    .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
      color: var(--error);
    }
  }
}

img {
  width: 100%;
  border-radius: 10px;
}

::placeholder {
  color: var(--white);
}

form {
  background-color: rgb(149 117 70 / 89%);
  border-radius: 10px;
  width: 85%;
  padding: 0 10px;

  button {
    width: 100%;
  }
}

label, h2, .text {
  color: var(--white);
  text-align: center;
}

.form-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

h2 {
  margin: 40px 0;
}

@media screen and (min-width: 300px) and (max-width: 400px) {
  h2 {
    line-height: 1;
    margin: 10px 0 20px;
  }
}


@media screen and (min-width: 768px) {
  :host {
    padding: 0 40px;
    max-width: 900px;
    max-height: 800px;
  }

  p {
    font-size: 28px;
  }

  .text {
    font-size: 18px;
    font-style: italic;
  }

  form {
    padding: 40px 15px;
  }
}

@media screen and (min-width: 912px) {
  :host {
    padding: 0 60px;

    & ::ng-deep {
      .ant-input, label {
        font-size: 22px !important;
      }

    }
  }

  h2 {
    font-size: 32px;
  }


  form {
    padding: 40px 30px;
    width: 80%;
  }
}
